:root {
  --element-font-size: 100px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
    font-family: 'Bravura';
    src: url('./fonts/Bravura.otf'); /*对于调用点的相对位置*/
}

.Element {
  font-family: "Bravura";
  font-size: var(--element-font-size);
}


.relative-align {

}

.align-north-east {
  flex-direction: row;
  align-items: flex-start;
}


.right {
  position: relative;
  left: calc(var(--element-font-size)/20)
}

.left {
  position: relative;
  right: calc(var(--element-font-size)/35)
}

.up-a-bit {
  position: relative;
  bottom: calc(var(--element-font-size) * 0.09)
}

.up-total {
  position: relative;
  bottom: calc(var(--element-font-size) * 0.9)

}

.down {
  position: relative;
  top: calc(var(--element-font-size) * 0.9)
}
